.e-subject-container {
    width: 100% !important;
}

.e-time-zone-container {
    display: none !important;
}

.e-time-zone-row {
    display: none !important;
}

.custom-field-row {
    margin-bottom: 10px;
}

.e-dlg-container {
    z-index: 1040 !important;
}
