body {
    background-color: #f7f7f7;
}

/* Navbar */

.navbar h5 {
    color: #7c8188;
    font-size: 18px;
}

.navbar-brand img {
    width: 120px;
    height: auto;
}

@media screen and (max-width: 425px) {
    .navbar-brand img {
        width: 50px;
    }
}

/* Background */

.primary-bg {
    background-color: #621012 !important;
}

.secondary-bg {
    background-color: #efd2ac !important;
}

/* Text */

.primary-text {
    color: #621012 !important;
}

.secondary-text {
    color: #efd2ac !important;
}

.text-white {
    color: white !important;
}

/* Card */

.card {
    border: none;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none !important;
}

.card-header {
    background-color: white;
    border: none;
    color: #621012;
}

.card-footer {
    background-color: white;
    border: none;
}

/* Button */

.btn-primary {
    background-color: #621012;
    outline: none;
    border: 1px solid #621012;
    color: white;
}

.btn-primary:active {
    background-color: transparent !important;
    color: #621012 !important;
    border: 1px solid #621012 !important;
}

.btn-primary:hover {
    background-color: transparent;
    color: #621012;
    border: 1px solid #621012;
}

.btn-primary:focus {
    background-color: transparent;
    color: #621012;
    border: 1px solid #621012;
    box-shadow: none;
}

.btn-primary-invert {
    color: #621012;
    background-color: #efd2ac;
    border: 1px solid #efd2ac;
    font-weight: 600;
}

.btn-primary-invert:hover {
    color: #621012;
    background-color: transparent;
    border: 1px solid #621012;
}

.btn-primary-invert:active {
    color: #621012 !important;
    background-color: transparent !important;
    border: 1px solid #621012 !important;
}

.btn-primary-invert:focus {
    color: #621012;
    background-color: transparent;
    border: 1px solid #621012;
    box-shadow: none;
}

.btn-link {
    color: #621012;
    font-weight: 500;
}

.btn-link:hover {
    color: #621012;
    background-color: #efd2ac;
    text-decoration: none;
}

/* Form */

.form-control {
    outline: none;
    border: none;
    border: none;
    background-color: white;
    border-radius: 6px;
    font-size: 15px;
}

.form-control:focus {
    outline: none;
    background-color: white;
    box-shadow: none;
    border: none;
}

.form-control::placeholder {
    color: #8998ab;
}

input[type="search"] {
    outline: none;
    border: none;
    border-bottom: 1px solid #621012;
    border-radius: 0;
    background-color: transparent;
}

input[type="search"]:focus {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #621012;
}

/* Table */

.table {
    margin-bottom: 0;
}

.table th {
    border-top: none;
    font-size: 14px;
    vertical-align: middle;
}

.table td {
    font-size: 13px;
    vertical-align: middle;
    font-weight: 600;
}

.table thead th {
    border-bottom: none;
}

.table td img {
    margin-top: -5px;
    border-radius: 50%;
    margin-right: 3px;
}

/* Nav tabs */

.nav-tabs {
    border: none;
    margin-bottom: 5px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #621012;
    background-color: #fff;
    border: none;
    font-weight: 700;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav-link {
    color: #4b4b4b;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #621012;
    background-color: #efd2ac;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Image */

.profile-pic {
    border-radius: 50%;
}

/* Dropdown */

.dropdown-menu {
    right: 0;
    left: auto;
}

/* Border */

.borders {
    border: 1px solid #efd2ac !important;
}

.border-primary {
    border: 1px solid #621012 !important;
}

/* Login */

.login,
.login .row {
    min-height: 70vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Section */

.section {
    padding-top: 7rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* SIDEBAR */

#sidebar {
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: white;
    color: white;
    transition: all 0.3s;
    margin-left: 0;
    overflow-y: auto;
    padding-top: 6rem;
}

#sidebar.active {
    margin-left: -50px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -50px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.sidebar-btn {
    background-color: transparent;
    color: #7c8188;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}

.sidebar-btn:hover {
    background-color: #efd2ac;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    color: #621012;
}

.sidebar-btn.active {
    background-color: #efd2ac;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    color: #621012;
}

/* MAIN CONTENT */

.content {
    width: calc(100% - 50px);
    margin-left: auto;
    transition: all 0.3s;
}

.content.active {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
        margin-left: 0;
    }
}

/* Loader */

.fp-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f8f8f8ad;
}

.fp-container .fp-loader {
    top: 30%;
    left: 48%;
    z-index: 1000;
    position: absolute;
}

/* Alert */

.alert {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 14px;
}

.alert-dismissible .close {
    padding: 0.5rem 1rem;
    top: -6%;
    font-size: 22px;
}

.alert::first-letter {
    text-transform: uppercase;
}
